@import "../../../styles/variables.scss";

.scroll-container {
    max-height: 200px; /* Limite de altura para o container */
    overflow-y: auto;  /* Habilita a rolagem vertical */
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
  
    .nota-item {
      margin-bottom: 8px;
  
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }
    }
  }
  

  button {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    padding: 12px 24px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
  
    &:hover {
      background-color: #984aff;
    }
  }
