<div><h1>Produtos em conferência</h1></div>
<div><br></div>
<table>
  <thead>
    <tr>
      <th *ngFor="let column of columnsElements">{{ column.titulo }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataSource">
      <td *ngFor="let column of columnsElements">
        <ng-container *ngIf="column.campo === 'qntdConferida'; else displayMode">
          <input 
          type="number"
          [value]="row[column.campo]"

          placeholder="{{row[column.campo]}}"
          >
        </ng-container>
        <ng-template #displayMode>
          <span>{{ row[column.campo] }}</span>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
