@import "../../../../src/styles/variables.scss";


.navbar {
    img{
        margin-right: 20px;
        margin-left: 10px;
        width: 120px;
    }
    background: $primary-color;
    height: 55px;
    padding: 10px;
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      padding: 0;
      margin: 0;
    }
    li {
      margin-top: 5px;
      display: inline;
    }
    a {
      color: white;
      text-decoration: none;
      padding: 8px 12px;
      transition: 0.3s;
    }
    a:hover,
    .active {
      background: $secundary-color;
      border-radius: 5px;
    }
  }