<app-default-login-layout
    title="Acessar sua conta"
    primaryBtnText="Entrar agora"
    secundaryBtnText="Recuperar agora"
    divider="Esqueceu a senha ?"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <section form-section>
    <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="username"
            inputName="username"
            type="text"
            label="Usuário"
            placeHolder="Lexus@Company"
        >
            <img src="/assets/svg/user-icon.svg"/>
        </app-primary-input>
        
        <app-primary-input
        formControlName="password"
        inputName="password"
        type="password"
        label="Senha"
        placeHolder="Insira sua senha"
    >
    
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
    </form>
</section>
</app-default-login-layout>
