<app-default-login-layout
title="Selecione as notas para iniciar conferencia"
primaryBtnText="Iniciar"
secundaryBtnText="Voltar"
divider="Retornar para área do Notas Fiscais"
[disablePrimaryBtn]="false"
(navigate)="submit()"
(submit)="submit()"
>
<section form-section>
    <div class="form-section">
        <app-selecao-nota
        [notasFiscais]="notasFiscais"
        ></app-selecao-nota>
    </div>

</section>
  <section main-section>
    <div class="main-section">
    <div class="card">
        <app-table-conferencia [columnsElements]="ColumnConferencia" [dataSource]="dataSource"></app-table-conferencia>
    </div>
</div>
</section>
</app-default-login-layout>
