<app-menu></app-menu>
<app-default-login-layout
    title="Antes de conferir - Quais notas foram recebidas ?"
    primaryBtnText="Salvar"
    secundaryBtnText="Voltar"
    divider="Retornar para área do Transporte"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!notasForm.valid || listaItemNota.length === 0 "
>
    <section form-section>
    <form [formGroup]="notasForm">
        <app-primary-input
            formControlName="numeroNota"
            inputName="numeroNota"
            type="text"
            label="Informe o número das Notas ou Order's"
            placeHolder="ORDER 2024"
            >
            <img src="/assets/svg/user-icon.svg"/>
        </app-primary-input>
        <app-selecao-transporte class="selecao-transporte"
        (transporteSelecionado)="atualizarTransporteSelecionado($event)"
        >
        </app-selecao-transporte>
    </form>
    <app-nota-input
    primaryBtnText="Inserir manualmente"
    secundaryBtnText="Importar arquivo"
    (manual)="manual()"
    (import)="import()"
    >
    <app-modal-manual
    title="Cadastre quais foram os produtos recebidos"
    [disablePrimaryBtn]="!show"
    primaryBtnText="Adicionar"
    (submit)="addItemNota($event)"
    ></app-modal-manual>
    </app-nota-input>
</section>
<div main-section>
<ng-container *ngIf="listaItemNota.length > 0; else displayMode">
    <div></div>
    <h3>Lista de Itens</h3>
    <ul>
      <li *ngFor="let item of listaItemNota">
        Nome: {{ item.produto.nomeProduto }}, Código: {{ item.produto.codigo }}, Quantidade: {{ item.qntdDaNota }}
      </li>
    </ul>
  </ng-container>
    <ng-template #displayMode>
      <img src="/assets/svg/main-logo.png" class="main-img">
    </ng-template>
</div>
</app-default-login-layout>
 