form {
    width: 40vh;
    display: flex;
    flex-direction: column;
    gap: 1px;
    
    .selecao-transporte {
        margin-bottom: 20px;
    }

}

.main-img{
    margin-top: 40px;
    width: 45vw;
    height: 65vh;
}